.container {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  .main {
    border-left: 2px dotted $brown;
    width: 70%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .nav {
    width: 30%;
    max-width: 300px;
  }
  @media (max-width: 640px) {
    flex-direction: column;
    justify-content: space-between;
    .main {
      margin: 1%;
      width: 99%;
      border-left: none;
    }
    .nav {
      width: 100%;
      max-width: inherit !important;
    }
  }
}
