article.footer {
  margin-top: 10%;
  display: inline-flex;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  h3 {
    font-size: 2em;
    padding: 5px;
    text-align: center;
    width: 20%;
    color: #fff;
    &:nth-child(1) {
      background: $purple;
    }
    &:nth-child(2) {
      background: $yellow;
    }
    &:nth-child(3) {
      background: $deep-purple;
    }
    &:nth-child(4) {
      background: $brown;
    }
    &:nth-child(5) {
      background: $light-purple;
    }
  }
}
