.header {
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-between;
  width: 100%;
  align-items: stretch;
  margin-left: 5%;
  margin-bottom: 5%;
  section {
    flex: 2;
    h2 {
      margin: 5% 0;
      letter-spacing: 0.5em;
      a {
        font-size: 8em;
        &:hover {
          font-weight: normal;
          border-bottom: 2px solid $yellow;
        }
      }
    }
    h3 {
      font-size: 2em;
      letter-spacing: .5em;
    }
  }
  @media (max-width: 640px) {
    margin: 1%;
    flex-flow: column wrap;
    section {
      flex: none;
      width: 100%;
      h2 {
        margin: 0;
        letter-spacing: .2em;
        a {
          font-size: 4em;
          text-align: center;
          &:hover {
            border-bottom: none;
            font-weight: 500;
          }
        }
      }
      h3 {
        font-size: 1.2em;
        letter-spacing: .3em;
        margin-bottom: 4%;
      }
    }
  }
}
