.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 360px;
  width: 100%;
  align-items: baseline;
  h2 {
    a {
      font-size: 8em;
      &:hover {
        font-weight: normal;
        text-decoration: underline;
      }
    }
  }
  h3 {
    font-size: 2em;
  }
  @media (max-width: 640px) {
    h2 {
      order: 1;
      font-size: .8em;
      text-align: center;
    }
  }
}
