.header {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  h2 {
    a {
      font-size: 3em;
    }
  }
  @media (max-width: 640px) {
    h2 {
      order: 1;
      font-size: .8em;
      text-align: center;
    }
  }
}
