.nav {
  flex: 1;
  background-color: $deep-purple;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  li {
    margin: 10% 0;
    a {
      color: #fff;
      &:hover {
        color: $yellow;
      }
    }
  }
  @media (max-width: 640px) {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    li {
      padding: 5px 0;
      width: 100%;
      &:nth-child(even) {
        background: rgba(0,0,0,.2);
      }
    }
  }
}
