.nav {
  flex: 1;
  background-color: $deep-purple;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: space-between;
  font-size: 1.5em;
  li {
    width: 100%;
    text-align: center;
    display: inline-block;
    a {
      color: #fff;
      display: block;
      padding: 46% 0;
      &:hover {
        color: $yellow;
        background-color: $purple;
      }
      &.active {
        background-color: $light-purple;
      }
    }
  }
  div {
    text-align: center;
    >img {
      width: 50%;
      border-radius: 50%;
    }
  }
  @media (max-width: 640px) {
    flex-direction: row;
    flex: none;
    background-color: $deep-purple;
    width: 100%;
    li {
      width: 100%;
      a {
        font-size: .8em;
        padding: 0;
      }
    }
    .links {
      display: flex;
      align-items: center;
      width: 40%;
    }
    div {
      width: 60%;
      >img {
        display: none;
      }
      article {
        .contact {
          margin: 0;
          a {
            img {
              width: 25%;
            }
          }
        }
      }
    }
  }
}
