.About {
  width: 100%;
  max-width: 780px;
  display: block;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  color: white;
  padding: 1rem;
  margin: 0 auto;
}

.About h2 {
  margin-bottom: 1rem;
}

.About p {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .About {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
