@import url('https://fonts.googleapis.com/css?family=Arimo|Didact+Gothic');

$heading-font: "Didact Gothic", serif;
$body-font: "Arimo", sans-serif;

$deep-purple: #150033;
$purple: #310D42;
$light-purple: #5C2445;
$yellow: #FFCE4C;
$brown: #AB6946;
