body, ul {
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

p {
  line-height: 1.2em;
}

a {
  text-decoration: none;
  color: $light-purple;
  transition: 300ms;
  &:hover, &:focus {
    transition: letter-spacing 300ms ease;
    letter-spacing: 5px;
  }
}

@media (max-width: 640px) {
  a:hover, a:focus {
    letter-spacing: 1px;
  }
}

