/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Raleway|Didact+Gothic");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, ul {
  font-family: "Raleway", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Didact Gothic", serif; }

p {
  line-height: 1.2em; }

a {
  text-decoration: none;
  color: #5C2445;
  transition: 300ms; }

a:hover, a:focus {
  transition: letter-spacing 300ms ease;
  letter-spacing: 5px; }

@media (max-width: 640px) {
  a:hover, a:focus {
    letter-spacing: 1px; } }

.container {
  display: flex;
  justify-content: flex-end;
  height: 100vh; }

.container .main {
  border-left: 2px dotted #AB6946;
  padding-left: 5px;
  width: 70%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.container .nav {
  width: 30%;
  max-width: 300px; }

@media (max-width: 640px) {
  .container {
    flex-direction: column;
    justify-content: space-between; }
  .container .main {
    margin: 1%;
    width: 99%;
    border-left: none; }
  .container .nav {
    width: 100%;
    max-width: inherit !important; } }

.header {
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-between;
  width: 100%;
  align-items: stretch;
  margin-left: 5%;
  margin-bottom: 5%; }

.header section {
  flex: 2; }

.header section h2 {
  margin: 5% 0; }

.header section h2 a {
  font-size: 8em; }

.header section h3 {
  font-size: 2em;
  letter-spacing: .5em; }

@media (max-width: 640px) {
  .header {
    margin: 1%;
    flex-flow: column wrap; }
  .header section {
    flex: none;
    width: 100%; }
  .header section h2 {
    margin: 0;
    letter-spacing: .2em; }
  .header section h2 a {
    font-size: 4em;
    text-align: center; }
  .header section h2 a:hover {
    border-bottom: none;
    font-weight: 500; }
  .header section h3 {
    font-size: 1.2em;
    letter-spacing: .3em;
    margin-bottom: 4%; } }

article.footer {
  margin-top: 10%;
  display: inline-flex;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0; }

article.footer h3 {
  font-size: 2em;
  padding: 5px;
  text-align: center;
  width: 20%;
  color: #fff; }

article.footer h3:nth-child(1) {
  background: #310D42; }

article.footer h3:nth-child(2) {
  background: #FFCE4C; }

article.footer h3:nth-child(3) {
  background: #150033; }

article.footer h3:nth-child(4) {
  background: #AB6946; }

article.footer h3:nth-child(5) {
  background: #5C2445; }

.nav {
  flex: 1;
  background-color: #150033;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: space-between;
  font-size: 1.5em; }

.nav li {
  width: 100%;
  text-align: center;
  display: inline-block; }

.nav li a {
  color: #fff;
  display: block;
  padding: 20% 0; }

.nav li a:hover {
  color: #FFCE4C;
  background-color: #310D42; }

.nav li a.active {
  background-color: #5C2445; }

.nav div {
  text-align: center; }

.nav div > img {
  width: 40%;
  border-radius: 50%; }

@media (max-width: 640px) {
  .nav {
    flex-direction: row;
    flex: none;
    background-color: #150033;
    width: 100%; }
  .nav li {
    width: 100%; }
  .nav li a {
    font-size: .8em;
    padding: 22% 0; }
  .nav .links {
    display: flex;
    align-items: center;
    width: 40%; }
  .nav div {
    width: 60%; }
  .nav div > img {
    display: none; }
  .nav div article .contact {
    margin: 0; }
  .nav div article .contact a img {
    width: 25%; } }

article.about {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

article.about img {
  display: none; }

article.about h3 {
  font-size: 3em;
  color: #310D42;
  align-self: flex-start;
  margin-left: 5%;
  border-bottom: 2px solid #FFCE4C; }

article.about p {
  margin: 5%;
  font-size: 1.5em;
  width: 85%;
  line-height: 1.5em; }

article.about p:first-of-type {
  margin-top: 0; }

article.about p a:hover, article.about p a:focus {
  letter-spacing: .1px; }

@media (max-width: 640px) {
  article.about {
    margin: 2%;
    padding: 0;
    height: auto; }
  article.about img {
    width: 50%;
    margin: 5% 0;
    border-radius: 50%;
    display: inherit !important; }
  article.about h3 {
    font-size: 2em;
    margin: 5% 0; }
  article.about p {
    width: 98%;
    font-size: 1em;
    margin: 0; } }

article.home {
  margin: 5%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 90%; }

article.home .video {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: stretch;
  font-size: 2em; }

article.home .video div {
  background: rgba(0, 0, 0, 0.1);
  width: 38%;
  color: #310D42;
  display: flex;
  flex-direction: column;
  justify-content: center; }

article.home .video div p {
  margin-left: 5%; }

@media (max-width: 640px) {
  article.home {
    margin: 1% auto;
    width: 100%; }
  article.home .video {
    flex-direction: column;
    width: 99%; }
  article.home .video div {
    width: 100%; }
  article.home .video div p {
    font-size: .6em; }
  article.home .video iframe {
    width: 100%; } }

.blog {
  display: flex;
  width: 80%;
  margin-left: 5%;
  align-items: center;
  justify-content: flex-start; }

.blog a {
  transition: 300ms;
  padding: 10px; }

.blog a:hover, .blog a:focus {
  transition: 300ms;
  transform: scale(1.2); }

.blog p {
  margin-left: 3%;
  font-size: 2.2em; }

.blog span {
  color: #FFCE4C;
  margin-left: 5%;
  font-size: 3.5em; }

.blog span:last-of-type {
  display: none; }

@media (max-width: 640px) {
  .blog {
    width: 100%;
    margin: 10% 0;
    flex-flow: column; }
  .blog a {
    text-align: center; }
  .blog a img {
    width: 93%; }
  .blog span {
    font-size: 1.8em; }
  .blog span:first-of-type {
    display: none; }
  .blog span:last-of-type {
    display: block; }
  .blog p {
    margin: 0;
    font-size: 1.6em;
    word-spacing: .2em; } }

.contact {
  display: flex;
  margin: 5% auto;
  justify-content: space-around;
  text-align: center;
  flex-flow: row wrap;
  width: 100%; }

.contact a {
  margin: 5% 0;
  width: 25%;
  transition: 300ms; }

.contact a img {
  width: 50%; }

.contact a:hover, .contact a:focus {
  transition: 300ms;
  transform: scale(1.1); }

@media (max-width: 640px) {
  .contact {
    width: 100%;
    margin: 0;
    align-items: center; }
  .contact a {
    margin: 5% auto; } }
