/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Raleway|Didact+Gothic");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, ul {
  font-family: "Raleway", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Didact Gothic", serif; }

p {
  line-height: 1.2em; }

a {
  text-decoration: none;
  color: #5C2445; }
  a:hover {
    font-weight: bold; }

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-left: 1%; }
  .header section {
    flex: 2; }
    .header section h2 {
      margin: 9% 0;
      letter-spacing: 0.6em; }
      .header section h2 a {
        font-size: 8em; }
        .header section h2 a:hover {
          font-weight: normal;
          text-decoration: underline; }
    .header section h3 {
      font-size: 2.1em;
      text-align: right;
      padding-right: 1%;
      letter-spacing: .6em; }
  @media (max-width: 640px) {
    .header h2 {
      order: 1;
      font-size: .8em;
      text-align: center; } }

.nav {
  flex: 1;
  background-color: #150033;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em; }
  .nav li {
    margin: 10% 0; }
    .nav li a {
      color: #fff; }
      .nav li a:hover {
        color: #FFCE4C; }
  @media (max-width: 640px) {
    .nav {
      display: flex;
      flex-flow: column nowrap;
      margin: 0 auto; }
      .nav li {
        padding: 5px 0;
        width: 100%; }
        .nav li:nth-child(even) {
          background: rgba(0, 0, 0, 0.2); } }

article.about {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70em; }
  article.about p {
    margin: 5%;
    font-size: 1.5em;
    width: 60%;
    line-height: 1.5em; }
  article.about section {
    width: 60%;
    color: #fff;
    display: inline-flex;
    height: auto;
    padding: 10px;
    margin: 0 auto; }
    article.about section h3 {
      flex: 1;
      font-size: 4em;
      display: flex;
      align-items: center;
      color: #fff;
      background: rgba(0, 0, 0, 0.7); }
    article.about section p {
      flex: 2;
      padding: 25px;
      font-size: 1.2em; }
  @media (max-width: 640px) {
    article.about {
      margin: 0;
      padding: 0;
      height: auto; }
      article.about section.who, article.about section.what, article.about section.where, article.about section.why {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        justify-content: space-between;
        width: 100%;
        padding: 0; }
        article.about section.who h3, article.about section.what h3, article.about section.where h3, article.about section.why h3 {
          font-size: 1.5em;
          justify-content: flex-end;
          font-weight: bold;
          padding: 5px;
          order: 1; }
        article.about section.who p, article.about section.what p, article.about section.where p, article.about section.why p {
          order: 2;
          padding: 5px; } }

article.home {
  margin: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%; }
  article.home p {
    margin: 5%;
    font-size: 1.5em;
    width: 40%; }
