.Home {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Home__videoCaption {
  font-size: 24px;
}

.Home__videoPlayerWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
}

.Home__videoPlayer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

@media (min-width: 640px) {
  .Home__videoCaption {
    margin-bottom: 64px;
  }
}
