.Header {
  height: 100%;
  width: 100%;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Header__main,
.Header__sub {
  font-size: 20vmin;
  transition: color 1s ease;
}

@media (min-width: 460px) {
  .Header__main,
  .Header__sub {
    font-size: 15vmin;
  }
}

@media (min-width: 600px) {
  .Header__main,
  .Header__sub {
    font-size: 11vmin;
  }
}
