.App {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

.App .Panel {
  width: 100vw;
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  transition: background-color 1s ease;
}

.Panel .SocialLink a {
  transition: transform 300ms;
}
.Panel .SocialLink a:hover,
.Panel .SocialLink a:focus {
  transform: rotate(10deg);
}

.Panel:nth-of-type(even) .SocialLink a:hover,
.Panel:nth-of-type(even) .SocialLink a:focus {
  transform: rotate(-10deg);
}

.App > * > * {
  height: 100%;
  width: 100%;
}

.ColorChanger {
  position: fixed;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  animation: pulse 2s ease-in-out 0s 1 alternate;
}
.ColorChanger:hover,
.ColorChanger:focus {
  cursor: pointer;
  opacity: 1;
  outline: none;
  outline-width: 0;
  box-shadow: 2px 0 black;
}
.ColorChanger svg {
  transition: fill 1s ease;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

@media (min-width: 786px) {
  .App .Panel {
    width: 50vw;
    height: 100vh;
  }
}
