article.about {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 70em;
  section {
    width: 60%;
    color: #fff;
    display: inline-flex;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    h3 {
      flex: 1;
      font-size: 4em;
      display: flex;
      align-items: center;
      color: #fff;;
      background: rgba(0,0,0,.7);
    }
    p {
      flex: 2;
      padding: 25px;
      font-size: 1.2em;
    }
  }
  @media (max-width: 640px) {
    margin: 0;
    padding: 0;
    height: auto;
    section {
      &.who, &.what, &.where, &.why {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        h3 {
          font-size: 1.5em;
          justify-content: flex-end;
          font-weight: bold;
          padding: 5px;
          order: 1
        }
        p {
          order: 2;
          padding: 5px;
        }
      }
    }
  }
}

