.contact {
  display: flex;
  margin: 5% auto;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100%;
  a {
    margin: 5% 0;
    img {
      width: 50px;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  @media (max-width: 640px) {
    flex-direction: column;
    a {
      margin: 5% auto;
    }
  }
}
