.contact {
  display: flex;
  margin: 5% auto;
  justify-content: space-around;
  text-align: center;
  flex-flow: row wrap;
  width: 100%;
  a {
    margin: 5% 0;
    width:25%;
    img {
      width: 50%;
    }
    transition: 300ms;
    &:hover, &:focus {
      transition: 300ms;
      transform: scale(1.1);
    }
  }
  @media (max-width: 640px) {
    width: 100%;
    margin: 0;
    align-items: center;
    a {
      margin: 5% auto;
    }
  }
}
